@font-face {
  font-family: 'inter-var';
  src: local('Inter');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'inter-var';
  src: local('Inter Italic');
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'noto-sans-jp-var';
  src: local('Noto Sans JP');
  font-display: swap;
}

*,
::before,
::after,
::backdrop {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
  font: unset;
  background: unset;
  border: unset;
}

button,
input {
  appearance: none;
}

:root {
  --color-border: light-dark(hsl(0 0 0 / 25%), hsl(0 0 100 / 25%));
}

:root {
  color-scheme: light dark;
  font-family: 'inter-var', 'noto-sans-jp-var', sans-serif;
  font-feature-settings: 'calt', 'cv01', 'cv05', 'cv07', 'cv08', 'cv10', 'ss03';
  line-height: 1.5;
  font-optical-sizing: auto;
  line-break: strict;
  overflow-wrap: anywhere;
  scrollbar-gutter: stable;
  text-spacing-trim: trim-start;
  text-autospace: normal;
}
